* {
box-sizing: border-box;
}
body {
	
    
background: rgba(112,172,255,1);
background: -moz-linear-gradient(left, rgba(112,172,255,1) 0%, rgba(71,148,255,1) 41%, rgba(15,250,234,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(112,172,255,1)), color-stop(41%, rgba(71,148,255,1)), color-stop(100%, rgba(15,250,234,1)));
background: -webkit-linear-gradient(left, rgba(112,172,255,1) 0%, rgba(71,148,255,1) 41%, rgba(15,250,234,1) 100%);
background: -o-linear-gradient(left, rgba(112,172,255,1) 0%, rgba(71,148,255,1) 41%, rgba(15,250,234,1) 100%);
background: -ms-linear-gradient(left, rgba(112,172,255,1) 0%, rgba(71,148,255,1) 41%, rgba(15,250,234,1) 100%);
background: linear-gradient(to right, rgba(112,172,255,1) 0%, rgba(71,148,255,1) 41%, rgba(15,250,234,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70acff', endColorstr='#0ffaea', GradientType=1 );


}
.wrapper {
margin: 200px auto;
width: 1200px;
height: 1200px;


}
.profile {
background: #fff;
float: left;
padding: 20px;
margin-bottom: 1%;
width: 33%;



}
.profile img {
border: 8px solid green;
border-radius: 50%;
display: block;
height: auto;
width: 100%;
}
.description {
background: #fff;
float: left;
margin-left: 1%;
padding: 20px;
width: 66%;
height: 325px;

}
#section-middle {
background: #fff;
float: left;
margin-left: 0%;
padding: 20px;
width: 100%;
height: 325px;
margin-bottom: 1%;
}
#section-left {
display: block;
background: #fff;

left: auto;
bottom: 0;
float: left;
padding: 20px;
margin-bottom: 1%;
width: 48%;
}
#section-right {
float: right;
margin-left: 30px;
display: block;
background: #fff;
right: 240px;
bottom: 0;
margin-bottom: 1%;
width: 48%;
padding: 20px;
}
.profile, .description, section {
border-radius: 20px}
Label {
    color: white;
    text-align: center;
	font-size: 20px;
}
h1 {
    color: white;
    text-align: center;
	font-size: 40px;
}
h2 {
    color: white;
	font-size: 40px;
 
}
h3 {
    color: white;
	

   
}

p {
    font-family: verdana;
    font-size: 20px;
}

